

body{
    background-color: #0088C2;
    text-align: center;

}

#O4ALL{
    text-align: center;
    padding-top: 10%;
    color: white;
}

#rally{
    width: 1900px;
    margin: 0;
    padding: 0%;
}

