
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #5cb2d7;
    background-image: url("../media/images/background.PNG");
    font-family: Poppins;

}

.homepage{
    position: absolute;

}

.title{
    font-family: Poppins;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 260px;
    border-radius: 20px;
    background-color: #f8f8f2;
}

.glowing{
    animation: glow 3s infinite;
    
}


@keyframes glow{
    0%{
        width: 100%;
    }
    25%{
        width: 95%;
    }
    50%{
        width: 100%;
    }
    75%{
        width: 95%;
    }
    100%{
        width: 100%;
    }
}

.arrow{
    height: 100px;
    width: 100px;
    padding: 15px;
    

}

#stick{
    background-color:  #5cb2d7;
    height:auto;
    width: 1000px;
    padding: 25px 25px 25px 25px;
    border-radius: 15px;

}
#box1{
    background-color: #f8f8f2;
    text-align: center;
    float: inline-end;
    border-radius: 15px;
    padding: 5px;

}

.info{
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 15px;
}

#monarch{
    padding: 5px;
    color: white;
}

.resource{
    border-radius: 15px;
    padding: 1px;
    width: 400px;
    background-color: white;
}

#startover{
    width: 400px;
    background-image: url("../media/images/download.jpeg");
    color: #f8f8f2;

}

#butter{
   
}









